<header class="cont mt-6">
  <h1 class="primary text-center">Ristorante Il Gambero Rosso</h1>

  <div class="row">
    <img
      class="col-lg-4 object-fit-cover mb-4"
      src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />

    <div class="header-text col-lg-8">
      <h3 class="resp-text">Lorem ipsum dolor sit amet consectetur.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        repellendus eius commodi odit dignissimos vitae, ab error ratione dicta
        vel.
      </p>
      <p>
        <em>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          labore voluptas aspernatur voluptatibus illum debitis.
        </em>
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, quia.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et totam
          quasi libero similique. Mollitia, voluptatum!
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium non
        maxime saepe recusandae cumque culpa aperiam dignissimos? Voluptatem,
        animi aliquid.
      </p>
    </div>
  </div>
</header>
<section class="bg-light py-4">
  <div class="cont">
    <h1 class="primary text-center">Why choose us</h1>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quos.
    </p>
    <div class="row row-cols-lg-3">
      <div>
        <p>01</p>
        <h3 class="resp-text">Lorem, ipsum.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit atque
          tenetur, ullam dolores tempore soluta.
        </p>
      </div>
      <div>
        <p>02</p>
        <h3 class="resp-text">Lorem, ipsum.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit atque
          tenetur, ullam dolores tempore soluta.
        </p>
      </div>
      <div>
        <p>03</p>
        <h3 class="resp-text">Lorem, ipsum.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit atque
          tenetur, ullam dolores tempore soluta.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="cont py-4">
    <h1 class="primary text-center">Check our specials</h1>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quos.
    </p>
    <div class="row row-cols-lg-2">
      <div class="col-lg-3 d-flex flex-column">
        <button class="btn btn-primary">Lorem, ipsum</button>
        <button class="btn text-primary">Lorem, ipsum</button>
        <button class="btn text-primary">Lorem, ipsum</button>
        <button class="btn text-primary">Lorem, ipsum</button>
        <button class="btn text-primary">Lorem, ipsum</button>
      </div>
      <div class="col-lg-6">
        <h3 class="resp-text">Lorem, ipsum.</h3>
        <p>
          <em>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit atque
            tenetur, ullam dolores tempore soluta.
          </em>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          nobis ad dolores dolorem ea reprehenderit ut adipisci consequatur
          nulla perferendis laboriosam non sed beatae dignissimos est expedita,
          voluptatem, eos praesentium?
        </p>
      </div>
      <img
        class="col-lg-3 object-fit-cover"
        src="https://cdn.pixabay.com/photo/2017/07/09/18/29/salad-2487775_1280.jpg"
        alt=""
      />
    </div>
  </div>
</section>
