/* You can add global styles to this file, and also import other style files */
.primary {
  // font-size: 2rem;
  font-family: "Great Vibes", cursive;
}

.primary-light {
  // font-size: 2rem;
  font-family: "Great Vibes", cursive;
  color: #fff;
}
